<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%# messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
                    <h2>Welcome <%= name %>
                    </h2>
                    <p>You're Logged In</p>
                    <a title="Manage Account Information" href="/account/update">Update Account Information</a>
                    <% if (role==='Client' ) { %>
                        <a title="Manage Inventory" href="/inv/management">Manage Inventory</a>
                        <% } %>