<h1>Welcome to CSE Motors!</h1>

<%- messages() %>

    <div id="hero">
        <picture>
            <source srcset="/images/vehicles/aerocar.jpg" media="(min-width: 500px)">
            <img src="/images/vehicles/aerocar-tn.jpg" alt="Aerocar Hero Image">
        </picture>
        <div class="call">
            <h2>Aerocar AA</h2>
            <p>Free Air Conditioning</p>
            <p>Quickest Car Alive</p>
            <p>Color Choices!</p>
            <a href="" class="call-button">Buy Now!</a>
        </div>
    </div>
    <div id="bottom-section">
        <div id="reviews">
            <h2>Aerocar Reviews</h2>
            <ul>
                <li>"The fastest and quickest ride on the road!." (1/5)</li>
                <li>"Will get you where you need to go air or road!." (2/5)</li>
                <li>"Any terrain this will be the smoothest ride out!" (2/5)</li>
                <li>"It is what the future wished they had for a car!." (4.5/5)</li>
                <li>"2000's living in the 1950s!" (3/5)</li>
            </ul>

        </div>
        <div id="upgrades">
            <h3>Aerocar Upgrades</h3>
            <div id="container">
                <div class="card">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker image">
                    <a title="Click to select bumper sticker" href="">Bumper Sticker</a>
                </div>
                <div class="card">
                    <img src="/images/upgrades/flame.jpg" alt="flame upgrade image">
                    <a title="Click to select flame" href="">Flame Decals</a>

                </div>
                <div class="card">
                    <img src="/images/upgrades/flux-cap.png" alt="flux capacitor upgrade image">
                    <a title="Click to select flux capacitor" href="">Flux Capacitor</a>
                </div>
                <div class="card">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub cap upgrade image">
                    <a title="Click to select hub capr" href="">Hub Caps</a>
                </div>

            </div>
        </div>

    </div>