<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%# messages() %>

            <%- card %>
                <div class="vehicle-card">
                    <%- card %>
                </div>