<% if (title) { %>
    <h1>
        <%= title %>
    </h1>

    p>Testsss</p>
    <% } else { res.redirect('/') } %>

        <%# messages() %>
            <p>Testsss</p>


            <ul>
                <li>
                    <a href="/inv/addClassification">Add Classification</a>
                </li>
                <li>
                    <a href="/inv/addInventory">Add Classification</a>
                </li>
            </ul>