<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { %>
        <p>Redirecting...</p>
        <script>window.location.href = "/";</script>
        <% } %>

            <%- messages() %> <!-- Uncommented this line to render flash messages -->

                <ul>
                    <li>
                        <a href="/inv/addclassification">Add Classification</a>
                    </li>
                    <li>
                        <a href="/inv/addinventory">Add Classification</a>
                    </li>
                </ul>